@use 'colors' as theme;

.nav-left {
    margin-left: 10%;
    width: 200px;
}

.nav-right {
    margin-right: 10%;
    width: 200px;
    display: flex;
    justify-content: flex-end;
}

nav {
    background-color: theme.$secondary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    box-shadow: 0px 4px 10px 0px theme.$shadow-color;

    a {
        color: unset;
        padding: 8px 8px 8px 8px;
        margin-left: 8px;
        margin-right: 8px;
        text-decoration: none;

        &:hover {
            color: lighten(theme.$primary-color, 10%) !important;
        }

        &.active{
            color: theme.$primary-color;
        }
    }
}

.brand {
    text-align: center;
    letter-spacing: 1px;
    font-family: "Pixel Georgia" monospace;

    h1 {
        font-family: "Pixel Georgia Bold", monospace;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 4px;

        &::first-letter {
            font-size: 36px;
            font-weight: 100;
        }
    }
    
    h2 {
        margin-top: 0;
        margin-bottom: 12px;
        font-size: 10px;
    }
}

.main-content {
    margin-left: 10%;
    margin-right: 10%;
}

.image-container {
    width: 100%;
    height: 100%;
    
    img {
        width: 80%;
        object-fit: cover;
    }
}