<nav>
  <div class="nav-left brand">
    <div class="image-container">
      <img src="assets/images/elmshire_title_only.png" alt="TitleImage">
    </div>
    
  </div>
  <div>
    <a routerLink="/home"    routerLinkActive="active" >Home</a>
    <a routerLink="/gallery" routerLinkActive="active" >Gallery</a>
    <a routerLink="/map"     routerLinkActive="active" >Map</a>
    <a routerLink="/events"  routerLinkActive="active" >Events</a>
    <a routerLink="/rules"   routerLinkActive="active" >Rules</a>
  </div>
  <div class="nav-right">
    <button>
      Login
    </button>
  </div>

</nav>
<div class="main-content">
  <router-outlet/>
</div>