article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-container {
    margin-top: 80px;

    
    img {
        width: 500px;
        object-fit: cover;
    }
}